/* add your CSS here */
h1 {
	font-size: x-large;
}

.picture {
	padding: 0 0 10px;
}

.interest {
	font-style: italic;
}

.list {
	list-style: none;
	padding: 0;
}

.label {
	font-weight: bold;
}

.card {
	border: solid thin;
	border-radius: 8px;
	padding: 0 10px 10px 10px;
	width: 300px;
	box-shadow: 3px 3px 10px rgba(79,61,25,1);
	font-family: "IM Fell DW Pica SC", serif;
}

.descr {
	border: solid thin rgba(154,133,90,1);
	padding: 5px 10px;
	width: 280px;
	font-size: small;
	background-color: rgba(253,240,211,0.4);
}